
.ShowSubjects{
  display: flex;
  width: 250px;
  background-color: rgb(181, 20, 20);
  /* align-items: center; */
  align-items: center;
  flex-direction: column;

}
.ShowSubjects button{
margin-top: 10px;
margin-bottom: 20px;
background-color: rgb(244, 159, 12);
width: 80%;
height: 5%;
border-radius: 8px;

}

.subject-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 24px;
    /* margin-bottom: 16px; */
    margin: 10px;
}

